@model Test5.Models.Nashti;

@{
    ViewBag.Title = "Nashti";
}

<h2>Nashti</h2>

<table>
    <thead>
        <tr>
            <th>ანგარიში</th>
            <th>დასახელება</th>
            <th>საწ დებ</th>
            <th>საწ კრედ</th>
            <th>ბრუნვა დებ</th>
            <th>ბრუნვა კრედ</th>
            <th>საბ დებ</th>
            <th>საბ კრედ</th>
        </tr>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>


@ViewBag.Tanxa





